#items:hover{
    color: brown;
}

/* header styles */
header {
    width: 100vw;
    height: 40vh;
    background-image: url(./img/header-ordinary.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto' , sans-serif;
}
  
.link {
    color: rgb(220, 126, 148);
    text-decoration: none;
}
  
.last-link {
  color: #aa5f74;
}
  
.link:hover {
    color: #aa5f74;
    cursor: pointer;
}
  
.h1-color {
  color: #D14D72;
}

#best-brand{
  transition: all .5s;
}
#best-brand::before{
  content: ">";
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: .5rem;
}
#best-brand:hover{
  transform: scale(1.1);
  transform-origin: left;
  color: black;
  font-weight:bolder;
}
#icon-footer:hover{
  color: brown !important;
  border-color: black !important;
}
.pic-c {
  width: 100px;
  height: 100px;
}

.owl-nav {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.owl-nav .owl-perv {
  width: 40px;
  height: 40px;
  background-color:#fcc8d1 ;
  border-radius: 10px;
  color: white;
}

.button-color {
  width: 40px !important;
  height: 40px !important;
  background-color: #fcc8d1;
}
.pic-card {
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  border-radius: 20px;
}