header {
    width: 100vw;
    height: 40vh;
    background-image: url(./img/huda-beauty.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.link {
    color: #F9F5F6;
}
  
.link:hover {
    color: #F8E8EE;
    cursor: pointer;
}

.h1-color {
  color: #D14D72;
}
  